@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  color: rgb(17, 34, 63);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 160px 40px;
  min-height: 100vh;
  background: url(../images/body-background-decor.png);
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__links-wrap {
  width: 540px;
  display: flex;
  margin-right: 20px;
}
.header__link > a {
  display: block;
  width: 120px;
  line-height: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600;
}
.header__link:last-child > a {
  width: 180px;
}
.header__button {
  width: 180px;
  height: 50px;
  border: none;
  background-color: rgb(25, 104, 252);
  color: rgb(255, 255, 255);
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  text-transform: uppercase;
  cursor: pointer;
}

.logo {
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo > p {
  font-size: 20px;
  font-weight: 600;
  margin-left: 17px;
  color: rgb(25, 104, 252);
}

.headline {
  margin-top: 150px;
  position: relative;
}
.headline__wrap {
  max-width: 600px;
  position: relative;
  z-index: 2;
}
.headline__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 1px;
}
.headline__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  margin: 20px 0 40px;
}
.headline__button {
  width: 300px;
  height: 50px;
  background-color: rgb(25, 104, 252);
  color: rgb(255, 255, 255);
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  border: none;
  cursor: pointer;
}
.headline__banner {
  position: absolute;
  right: 0;
  top: 50px;
}

.reviews {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
}

.review-card {
  position: relative;
  max-width: 540px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  cursor: pointer;
}
.review-card__wrap {
  height: 100px;
}
.review-card__avatar {
  float: left;
  margin: -20px 20px 0 0;
}
.review-card__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 20px;
}
.review-card__position {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(25, 104, 252);
}
.review-card__comment {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}
.review-card__banner {
  position: absolute;
  top: 37px;
  right: 31px;
}

.workflow {
  margin-top: 120px;
}
.workflow__title, .features__title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  position: relative;
}
.workflow__title::before, .features__title::before {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: rgb(25, 104, 252);
  box-shadow: 0px 2px 0px #d1e1fe;
  position: absolute;
  bottom: -12px;
  left: -40px;
}
.workflow__steps-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.steps-card, .features-card {
  max-width: 320px;
  height: 220px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  cursor: pointer;
  position: relative;
}
.steps-card_middle {
  margin-top: 40px;
  position: relative;
}
.steps-card_middle::before {
  content: "";
  display: block;
  width: 70px;
  border: 1px dashed rgb(25, 104, 252);
  position: absolute;
  top: 70px;
  left: -75px;
  z-index: -5;
}
.steps-card_bottom {
  margin-top: 80px;
}
.steps-card_bottom::before {
  content: "";
  display: block;
  width: 70px;
  border: 1px dashed rgb(25, 104, 252);
  position: absolute;
  top: 68px;
  left: -75px;
  z-index: -5;
}
.steps-card::after, .features-card::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: url(../images/steps-card-decoration.png);
  position: absolute;
  bottom: -5px;
  right: -5px;
}
.steps-card__small-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}
.steps-card__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(25, 104, 252);
}
.steps-card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}
.steps-card__banner {
  position: absolute;
  top: 42px;
  right: 40px;
  cursor: pointer;
}

.features {
  margin-top: 120px;
}
.features__steps-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.features-card {
  height: 290px;
  padding: 0;
}
.features-card_middle {
  margin-top: 40px;
}
.features-card_bottom {
  margin-top: 80px;
}
.features-card__top-wrap {
  display: flex;
}
.features-card__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding: 31px 20px 20px;
  background-color: rgb(243, 247, 255);
}
.features-card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding: 40px;
}

/*# sourceMappingURL=styles.css.map */
