@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  color: rgb(17, 34, 63);
}

button {
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(17, 34, 63);
}

.container {
  max-width: 1440px;
  min-height: 100vh;
  overflow: hidden;
  background: url(./images/body-background-decor.png) no-repeat;
  padding: 30px 160px 0;
  margin: 0 auto;
}

@media screen and (max-width: 1416px) {
  .container {
    width: 640px;
    padding: 40px 50px 0;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__links-wrap {
  display: flex;
  width: 540px;
  margin-right: 20px;
}
.header__link > a {
  display: block;
  width: 120px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  color: rgb(0, 0, 0);
}
.header__link:last-child > a {
  width: 180px;
}
.header__button {
  width: 180px;
  height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border: none;
  background-color: rgb(25, 104, 252);
  color: rgb(255, 255, 255);
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 1416px) {
  .header {
    padding-left: 30px;
  }
  .header__nav {
    display: none;
  }
}
.logo {
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
}
.logo > p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(25, 104, 252);
  padding: 0 17px 0 17px;
}

.headline {
  position: relative;
  margin-top: 150px;
}
.headline__wrap {
  position: relative;
  z-index: 2;
  max-width: 600px;
}
.headline__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 1px;
}
.headline__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  margin: 20px 0 40px;
}
.headline__button, .headline__button_mobile {
  width: 300px;
  height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 104, 252);
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  cursor: pointer;
}
.headline__button_mobile {
  display: none;
}
.headline__banner {
  position: absolute;
  top: 50px;
  right: 0;
}
.headline__mobile-warning {
  display: none;
}

@media screen and (max-width: 1416px) {
  .headline {
    margin-top: 80px;
  }
  .headline__wrap {
    max-width: 480px;
    padding-left: 30px;
  }
  .headline__button, .headline__button_mobile {
    display: none;
  }
  .headline__button_mobile {
    display: block;
  }
  .headline__banner {
    position: static;
    transform: scale(1.11);
    margin-top: 104px;
  }
  .headline__mobile-warning {
    position: relative;
    left: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 180px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    color: rgb(255, 255, 255);
    background: url(./images/headline-mobile-warning-background.png);
    padding: 30px 60px;
    margin-top: -41px;
  }
}
.reviews {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
}

.review-card {
  position: relative;
  max-width: 540px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  padding: 40px;
  cursor: pointer;
}
.review-card__wrap {
  height: 100px;
}
.review-card__avatar {
  float: left;
  margin: -20px 20px 0 0;
}
.review-card__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 20px;
}
.review-card__position {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(25, 104, 252);
}
.review-card__comment {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}
.review-card__banner {
  position: absolute;
  top: 37px;
  right: 31px;
}

@media screen and (max-width: 1416px) {
  .reviews {
    display: block;
    margin-top: 50px;
  }
  .review-card {
    margin-bottom: 50px;
  }
}
.workflow {
  margin-top: 120px;
}
.workflow__title, .stories__title, .consultation__title, .purposes__title, .users__title_mobile, .users__title, .features__title {
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
}
.workflow__title::before, .stories__title::before, .consultation__title::before, .purposes__title::before, .users__title_mobile::before, .users__title::before, .features__title::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -40px;
  display: block;
  width: 80px;
  height: 2px;
  background-color: rgb(25, 104, 252);
  box-shadow: 0px 2px 0px #d1e1fe;
}
.workflow__steps-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.steps-card, .features-card {
  position: relative;
  max-width: 320px;
  height: 220px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  padding: 40px;
  cursor: pointer;
}
.steps-card_middle {
  position: relative;
  margin-top: 40px;
}
.steps-card_middle::before {
  content: "";
  position: absolute;
  top: 70px;
  left: -75px;
  z-index: -5;
  display: block;
  width: 70px;
  border: 1px dashed rgb(25, 104, 252);
}
.steps-card_bottom {
  margin-top: 80px;
}
.steps-card_bottom::before {
  content: "";
  position: absolute;
  top: 68px;
  left: -75px;
  z-index: -5;
  display: block;
  width: 70px;
  border: 1px dashed rgb(25, 104, 252);
}
.steps-card::after, .features-card::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -5px;
  display: block;
  width: 25px;
  height: 25px;
  background: url(./images/steps-card-decoration.png);
}
.steps-card__small-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}
.steps-card__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(25, 104, 252);
}
.steps-card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}
.steps-card__banner {
  position: absolute;
  top: 42px;
  right: 40px;
  cursor: pointer;
}

@media screen and (max-width: 1416px) {
  .workflow {
    padding: 0 10px;
  }
  .workflow__title::before, .stories__title::before, .consultation__title::before, .purposes__title::before, .users__title_mobile::before, .users__title::before, .features__title::before {
    left: 0;
  }
  .workflow__steps-wrap {
    display: block;
    margin-top: 60px;
  }
  .steps-card, .features-card {
    max-width: 100%;
    height: 180px;
    padding: 40px;
  }
  .steps-card_middle::before {
    top: -5px;
    left: 25px;
    transform: rotate(90deg);
  }
  .steps-card_bottom {
    margin-top: 40px;
  }
  .steps-card_bottom::before {
    top: -20px;
    left: 40px;
    transform: rotate(90deg);
    z-index: 0;
    width: 40px;
  }
  .steps-card__description {
    margin-top: 10px;
  }
}
.features {
  margin-top: 120px;
}
.features__steps-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.features-card {
  height: 290px;
  padding: 0;
}
.features-card_middle {
  margin-top: 40px;
}
.features-card_bottom {
  margin-top: 80px;
}
.features-card__top-wrap {
  display: flex;
}
.features-card__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  background-color: rgb(243, 247, 255);
  padding: 31px 20px 20px;
}
.features-card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding: 40px;
}

@media screen and (max-width: 1416px) {
  .features {
    padding: 0 10px;
    margin-top: 125px;
  }
  .features__steps-wrap {
    display: block;
  }
  .features-card {
    height: 200px;
  }
  .features-card_middle {
    margin-top: 60px;
  }
  .features-card_bottom {
    margin-top: 60px;
  }
  .features-card__top-wrap {
    display: flex;
  }
  .features-card__banner {
    width: 80px;
    height: 80px;
  }
  .features-card__title {
    width: 100%;
    line-height: 80px;
    padding: 0 0 0 20px;
  }
  .features-card__description {
    padding: 30px 40px;
  }
}
.users {
  margin-top: 120px;
}
.users__title_mobile {
  display: none;
}
.users__cards-wrap, .stories__cards-wrap, .purposes__cards-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.user-card {
  width: 360px;
  height: 160px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  padding: 20px;
  cursor: pointer;
}
.user-card_extra-margin {
  margin-top: 20px;
}
.user-card__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(25, 104, 252);
  margin-bottom: 20px;
}
.user-card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

@media screen and (max-width: 1416px) {
  .users {
    padding: 0 10px;
    margin-top: 125px;
  }
  .users__title {
    display: none;
  }
  .users__title_mobile {
    display: block;
  }
  .users__cards-wrap, .stories__cards-wrap, .purposes__cards-wrap {
    margin-top: 40px;
  }
  .user-card {
    width: 250px;
    height: 190px;
  }
  .user-card:nth-child(3), .user-card:nth-child(4) {
    margin: 20px 0;
  }
  .user-card_extra-margin {
    margin-top: 0;
  }
}
.purposes {
  margin-top: 120px;
}
.purposes-card {
  display: flex;
  width: 540px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  cursor: pointer;
}
.purposes-card_extra-margin {
  margin-top: 40px;
}
.purposes-card__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 80px;
  color: rgb(0, 0, 0);
  padding-left: 20px;
}

@media screen and (max-width: 1416px) {
  .purposes {
    padding: 0 10px;
  }
  .purposes__cards-wrap {
    display: block;
    margin-top: 50px;
  }
  .purposes-card {
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
  }
  .purposes-card:last-child {
    margin-bottom: 0;
  }
  .purposes-card_extra-margin {
    margin-top: 0;
  }
}
.consultation {
  position: relative;
  left: -160px;
  width: 1440px;
  min-height: 450px;
  overflow: hidden;
  background-color: rgb(25, 104, 252);
  padding: 80px 160px;
  margin-top: 120px;
}
.consultation__title {
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.consultation__title::before {
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 0px #6a9eff;
}
.consultation__content-wrap {
  margin-top: 60px;
}
.consultation__description {
  max-width: 625px;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
.consultation__button {
  width: 320px;
  height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(25, 104, 252);
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.consultation__banner {
  position: absolute;
  top: 20px;
  right: 1px;
}

@media screen and (max-width: 1416px) {
  .consultation {
    left: -50px;
    width: 640px;
    padding: 60px;
    margin-top: 60px;
  }
  .consultation__content-wrap {
    margin-top: 50px;
  }
  .consultation__banner {
    display: none;
  }
}
.stories {
  margin-top: 120px;
}
.stories__cards-wrap {
  margin-top: 60px;
}

.stories-card {
  max-width: 480px;
  min-height: 300px;
  display: flex;
}
.stories-card_extra-margin {
  margin-right: 10px;
}
.stories-card__banner {
  width: 40px;
  height: 33px;
  margin: 4px 20px 0 0;
}
.stories-card__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  color: rgb(17, 17, 17);
  margin-bottom: 20px;
}
.stories-card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(0, 0, 0);
}
.stories-card__link {
  text-decoration: underline;
}

@media screen and (max-width: 1416px) {
  .stories {
    padding: 0 10px;
    margin-top: 60px;
  }
  .stories__cards-wrap {
    margin-top: 50px;
  }
  .stories-card {
    max-width: 100%;
  }
  .stories-card_extra-margin {
    margin: 10px 0 0 0;
  }
}
.footer {
  position: relative;
  left: -160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  min-height: 130px;
  overflow: hidden;
  background-color: rgb(251, 251, 251);
  padding: 0 160px;
  margin-top: 120px;
}
.footer__logo > p {
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  background-color: rgba(25, 104, 252, 0.05);
  padding: 0 18px 0 19px;
}
.footer__nav {
  display: flex;
  height: 50px;
}
.footer__links-wrap {
  display: flex;
}
.footer__link > a {
  display: block;
  width: 120px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  color: rgb(0, 0, 0);
}
.footer__icons-wrap {
  display: flex;
  margin-right: 170px;
  margin-left: 50px;
}
.footer__icon > a {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.footer__banner {
  position: absolute;
  right: 136px;
  bottom: 0;
}

@media screen and (max-width: 1416px) {
  .footer {
    left: -50px;
    justify-content: start;
    width: 640px;
    padding: 0 40px;
    margin-top: 60px;
  }
  .footer__links-wrap {
    display: none;
  }
  .footer__icons-wrap {
    margin: 0 0 0 50px;
  }
  .footer__banner {
    right: 27px;
    width: 78px;
    height: 66px;
  }
}

/*# sourceMappingURL=styles.css.map */
