.features {
  margin-top: 120px;
  &__title {
    @extend .workflow__title;
  }
  &__steps-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
}

.features-card {
  @extend .steps-card;
  height: 290px;
  padding: 0;
  &_middle {
    margin-top: 40px;
  }
  &_bottom {
    margin-top: 80px;
  }
  &__top-wrap {
    display: flex;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 31px 20px 20px;
    background-color: rgba(243, 247, 255, 1);
  }
  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 40px;
  }
}
