.footer {
  margin-top: 120px;
  min-height: 130px;
  display: flex;
  align-items: center;
  background-color: rgba(251, 251, 251, 1);
  position: relative;
  width: 1440px;
  left: -160px;
  overflow: hidden;
  padding: 0 160px;
  justify-content: space-between;
  &__logo {
    & > p {
      background-color: rgba(25, 104, 252, 0.05);
      line-height: 50px;
      font-size: 14px;
      font-weight: 600;
      padding: 0 18px 0 19px;
    }
  }
  &__nav {
    display: flex;
    height: 50px;
  }
  &__links-wrap {
    display: flex;
  }
  &__link {
    & > a {
      display: block;
      width: 120px;
      line-height: 50px;
      text-align: center;
      color: $color-dark;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__icons-wrap {
    margin-left: 50px;
    display: flex;
    margin-right: 170px;
  }
  &__icon {
    & > a {
      display: flex;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2;
    }
  }
  &__banner {
    position: absolute;
    right: 136px;
    bottom: 0;
  }
}

@media screen and (max-width: 1416px) {
  .footer {
    margin-top: 60px;
    width: 640px;
    left: -50px;
    padding: 0 40px;
    justify-content: start;
    &__links-wrap {
      display: none;
    }
    &__icons-wrap {
      margin: 0 0 0 50px;
    }
    &__banner {
      width: 78px;
      height: 66px;
      right: 27px;
    }
  }
}
