@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
@import 'variables';
@import 'breakpoints';

* {
  box-sizing: border-box;
}
html {
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
  color: $color-main;
}
button {
  font-family: 'Mulish', sans-serif;
}
a {
  text-decoration: none;
  color: $color-main;
}
.container {
  max-width: 1440px;
  min-height: 100vh;
  overflow: hidden;
  background: url(./images/body-background-decor.png) no-repeat;
  padding: 30px 160px 0;
  margin: 0 auto;
}
@include small-screen {
  .container {
    width: 640px;
    padding: 40px 50px 0;
  }
}
@import 'header';
@import 'headline';
@import 'reviews';
@import 'workflow';
@import 'features';
@import 'users';
@import 'purposes';
@import 'consultation';
@import 'stories';
@import 'footer';
