.purposes {
  margin-top: 120px;
  &__title {
    @extend .workflow__title;
  }
  &__cards-wrap {
    @extend .users__cards-wrap;
  }
}

.purposes-card {
  display: flex;
  width: 540px;
  height: 80px;
  background-color: $color-light;
  box-shadow: $boxShadow-main;
  cursor: pointer;
  &_extra-margin {
    margin-top: 40px;
  }
  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 80px;
    color: $color-dark;
    padding-left: 20px;
  }
}

@include small-screen {
  .purposes {
    padding: 0 10px;
    &__title {
      @extend .workflow__title;
    }
    &__cards-wrap {
      display: block;
      margin-top: 50px;
    }
  }

  .purposes-card {
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    &_extra-margin {
      margin-top: 0;
    }
  }
}
