$color-main: rgba(17, 34, 63, 1);
$color-dark: rgba(0, 0, 0, 1);
$color-blue: rgba(25, 104, 252, 1);
$color-light: rgba(255, 255, 255, 1);

$boxShadow-main: 0px 20px 60px rgba(49, 69, 244, 0.1);
$boxShadow-button: 0px 10px 40px rgba(25, 104, 252, 0.3);

$text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
